/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Open+Sans:ital@1&family=Poppins:wght@100;200;300;500;600&family=Rubik:wght@300;400;500&family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;
  --font-roboto: Roboto;
  --font-roboto-flex: "Roboto Flex";
  --font-sf-pro-text: "SF Pro Text";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 35px;
  --font-size-xl: 26px;
  --font-size-2xl: 36px;

  /* Colors */
  --neutral-4: #fff;
  --secondary: #ff8a00;
  --gray-600: #52525b;
  --primary-new1: #5c175d;
  --color-steelblue-200: #4A154B;
  --color-aliceblue: #ecf9ff;
  --color-floralwhite-100: #fff9f2;
  --gray-900: #101828;
  --color-darkslategray: #3e3e3e;
  --dark-grey: #777586;

  /* Gaps */
  --gap-xs: 16px;
  --gap-sm: 24px;
  --gap-md: 32px;
  --gap-lg: 32.2px;

  /* border radiuses */
  --br-xs: 8.33px;
  --br-sm: 16px;
  --br-md: 17.87px;
  --br-lg: 17.89px;

  /* Effects */
  --drop-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;

}




a {
  text-decoration: none;
}

li {
  list-style: none;
}
.container{
    width: 60%;
    margin: auto;
}
header{
    width: 100vw;
    height: 100vh;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.hero{
    display: flex;
    flex-direction: column;

}
.title h2{
 
    font-size: 40px;
}
.title span{
    font-size: 25px;
    color: #3e3e3e;
}
.left{
    width: 412px;
    height: 425px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sub-head{
   
    display: flex;
    gap: 3rem;
}
.right img{
    width: 479px;
    height: 360px;
    border-radius: 5px;
}
.buttonss{
  
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.buttonss span.or{
  display: flex;
  justify-content: center;
  align-items: center;
}


.create {
  display: block;
  width: 100%;
  letter-spacing: 1px;
  height: 50px;
  background: var(--color-steelblue-200);
  font-size: 20px;
  color: #fff;
  outline: none;
  border-radius: 5px;


}

.join {
  display: block;
  width: 100%;
  letter-spacing: 1px;
  height: 50px;
  background: var(--color-steelblue-200);
  font-size: 20px;
  color: #fff;
  outline: none;
  border-radius: 5px;

}






.last-head{
  font-size: 16px;
  color: #52525b;
}

/*  Responsive */
@media screen and (max-width: 1330px) {
  .right img{
    width: 350px;
    height: 350px;
    
  }
 
}
@media screen and (max-width: 900px) {
.sub-head{
 
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

}


@media screen and (max-width: 768px) {

.left{
  max-width: 100%;
}

  .title{
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.title h2{
  font-size: 30px;
}
.title span{
  font-size: 20px;
}
.heading{
  align-items: center;
  justify-content: center;
}


.last-head{
  font-size: 12px;
}

.create {
  height: 40px;
  font-size: 14px;
  max-width: 100%;
 


}
.join {
  height: 40px;
  font-size: 14px;
  max-width: 100%;


}


}

@media only screen and (max-width: 480px) {
  .hero{
    width:80%;
   
  
  }
  .sub-head{
    width: 100%;
   
  }
  .left{
    max-width: 100%;
  }
  
    .title{
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .title h2{
    font-size: 25px;
    align-items: center;
    justify-content: center;
  }
  .title span{
    font-size: 15px;
  }
  
 
  .last-head{
    font-size: 12px;
  }
  

  .join {
    height: 30px;
    font-size: 12px;
   width: 100%;
   


  
  }
  .buttonss{
   justify-content: center;
  }
  .create{
  
    height: 30px;
    font-size: 12px;
    width: 100%;
    
   
 

  }
}