/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Open+Sans:ital@1&family=Poppins:wght@100;200;300;500;600&family=Rubik:wght@300;400;500&family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  width: 100vw;
 
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;
  --font-roboto: Roboto;
  --font-roboto-flex: "Roboto Flex";
  --font-sf-pro-text: "SF Pro Text";

 /* font sizes */
  --small-text: 12px;
  --text: 16px;
  --head-text: 20px;
  --heading: 26px;

  /* font sizes for big size text */
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-30: 30px;
  --font-size-26: 26px;
  --font-size-40: 40px;

  /* Colors */
  --neutral-4: #fff;
  --smoke: #52525b;
  --chatbox: #7921de ;
  --black:#242424;
  --dark-grey: #777586;
  --error-color:rgb(220, 0, 0);
  --succcess-color:rgb(17, 157, 17);
  /* Gaps */
  --gap-xs: 5px;
  --gap-sm: 10px;
  --gap-md: 15px;
  --gap-lg: 20px;

  /* border radiuses */
 
  /* input border */
  --input-border: 2px solid #000000;
  /* on focus border */
  --focus-border: 2px solid var(--chatbox);;

  /* Effects */
  --drop-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;

}




a {
  text-decoration: none;
}

li {
  list-style: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; 
  max-width: 1200px;
  padding: var(--gap-sm) var(--gap-xs);
  margin: 0 auto;
}

.left-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 100%;
  margin-bottom: var(--gap-lg);
}

.head {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.head a {
  margin-right: var(--gap-sm);
  color: var(--smoke);
}

.head span{
font-size: 17px;

}

.question {
  text-align: center;
  margin-bottom: var(--gap-md);
  color: var(--smoke);
  text-align: start;
}

.question h1 {
  font-size: var(--font-size-26);
  font-weight: bold;
  margin-bottom: var(--gap-sm);
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-bottom: var(--gap-md);
  width: 100%;
}
.inputs input[type=text]{
  width: 100%;
  height: 60px;
  padding: 12px 20px;
  font-size: var(--text);
}

.in {
  /* padding: 10px 100px; */
  border-radius: 5px;
  border: var(--input-border);
  background-color: var(--neutral-4);
  margin-bottom: var(--gap-sm);
  max-width: 100%; 
  width: max-content; 

  &:focus {
    outline: none;
    border: var(--focus-border);
  }
}

.nexts {
  display: flex;
  justify-content: flex-start; 
  width: 100%;
}
.nexts input[type=button]{
  width: 100%;
  padding: 10px 100px;
}
.button {

  padding: var(--gap-sm) var(--gap-md);
  border-radius: 5px;
  border: none;
  background-color: var(--chatbox);
  color: var(--neutral-4);
  font-size: var(--head-text);
 
  cursor: pointer;
}

.right-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}

.photo-upload {
  text-align:center;
  justify-content: center;
 margin-top: 4rem;
  color: var(--smoke);
  gap: 1rem;;

}

.photo-upload span {
  font-size: var(--text);

  margin-bottom: 1rem;
}

.image-upload {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: var(--gap-sm);
}

.image-upload img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

input[type="submit"] {
  padding:10px 100px;
  border-radius: 5px;
  border: none;
  background-color: var(--chatbox);
  color: var(--neutral-4);
  font-size: var(--head-text);

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .main {
    flex-wrap: nowrap;
  }
  
  .left-head {
    width: auto; 
    margin-bottom: 0;
    margin-right: var(--gap-lg);
  }
  
  .right-head {
    width: auto; 
  }
  
  .photo-upload {
    margin-bottom: 0;
  }
  
  /* .head span {
    font-size: var(--font-size-30);
  } */
  
  .question h1 {
    font-size: var(--font-size-40);
  }
  
  .in {
    width: 400px; 
  }
}
